<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let id = index">
        <img class="card-img-top img-fluid" [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-block">
            <h4 class="card-title">{{heroe.nombre}}</h4>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <!-- <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button> -->

            <!-- Forma 1 -->
            <!-- <a [routerLink]="['/heroe', id]" class="btn btn-outline-primary">Ver más link...</a> -->

            <!-- Forma 2 -->
            <button (click)="verHeroe(id)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
    </div>
</div>